### Project Specific ###
logs/
*/logs/
*/tmp/
ombaqenv

### General ###
*.DS_Store
dist/
tm-config-value
tm.tar.gz

### Vagrant ###
.vagrant
Vagrantfile

### Intellij Idea ###
*.iml
*.iws
*.ipr
.idea

### Gradle ###
.gradle
build/
*/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
